# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\wille\OneDrive\Documents\KULeuven\MELICTsa\Semester 2\Artificiele intelligentie\Pylos\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
